* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: purple;
}
#area {
  background: white;
  width: 400px;
  aspect-ratio: 1;
  margin-top: 100px;
  overflow: hidden;
}
#object {
  background: black;
  width: 60px;
  aspect-ratio: 1;
  transform: translateY(-100%);
  position: relative;
}
#object.start {
  animation-name: movement;
  animation-duration: 4.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*анимация движения объекта */
@keyframes movement {
  to {
    transform: translateY(400px);
  }
}
